In [2]:
x = 10 + 3 * 2 - 4 / 2
x, type(x)

(14.0, float)

daca apare impartirea se va face imediat transefrul catre float - cu virgula

Concatenation

In [3]:
print("123" + "abec")
x

123abec

14.0

In [7]:
x = int(62.8)
x

62

In [8]:
round(0.1234567, 4)

0.1235

In [10]:
import math

math.ceil(0.1234567)

1

In [11]:
74 % 10

4

In [12]:
# hello = jsdhfg
print(hello)

NameError: name 'hello' is not defined

In [13]:
print("I'm taking the Python exam")

I'm taking the Python exam

Character escaping "\"

In [14]:
print('I\'m taking the Pyton exam')

I'm taking the Pyton exam

In [16]:
greeting = "hello"
print(Greeting)

NameError: name 'Greeting' is not defined

In [ ]:
has_greeted = True

In [17]:
print(9//2)

4

String multiplication

In [18]:
print(9 *"2")

222222222

In [19]:
print("2"*9.2)

TypeError: can't multiply sequence by non-int of type 'float'

In [20]:
print(9 + "2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
print(9, "2")

9 2

In [25]:
print(9, "2", True, sep = ***)

SyntaxError: invalid syntax (3689673145.py, line 1)

In [24]:
print(2*1**2)

2

In [26]:
print(not(True and False) or (not True and False))

True

In [28]:
a = 3
b = 1
a = (a +b)
a

4

In [29]:
a = 3
b = 1
a += b
a

4

In [ ]:
a  = 3
b = 1